body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  overflow-y: hidden ;
  /* background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; */
  background-color: #f5f5dc;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c8ad7f' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

nav {
  /* background-color: rgb(133, 133, 133, 0.7); */
  background-color: #c8ad7f;
  /* border-bottom: 4px solid black; */
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 100;
  transition: top 0.3s;
}

nav ul {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  /* list-style-type: none;
  margin: 0;
  padding: 0; */

  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  

}

nav li {
  /* display: inline-block; */
  display: flex;
  width: 100%;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

nav .main-nav-a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  /* padding: 24px 32px; */
  padding: 24px 32px;
  /* transition: background-color 0.25s; */
}

nav .main-nav-a:hover {
  background-color: white;
  color: black;
}

.main-nav-active .main-nav-a {
  background-color: white;
  color: black;
}

#page-body {
  margin: auto;
  padding: 72px;
  height: 100%;
}

.home-page-content {
  width: 60%;
  text-align: justify;
}


.developers-page-anim, .home-page-anim{
  position: relative;
  animation-name: toDown;
  animation-duration: 1s;
  /* animation-fill-mode: forwards; */
}
@keyframes toDown {
  from {
    left: -1300px;
  }
  to {
    left: 0px;
  }
}

